<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="//oyoclass.s3.amazonaws.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% if (htmlWebpackPlugin.options.sentryConfig) { %>
        <!-- Sentry error logging to help with finding bugs -->
        <script src="https://cdn.ravenjs.com/3.22.1/raven.min.js" crossorigin="anonymous"></script>
        <script>
            Raven.config(<%= htmlWebpackPlugin.options.sentryConfig %>).install();
        </script>
        <!-- /Sentry -->
    <% } %>
    <script>
    /*
    window.__scratch3_config = {
        getAssetURL: function (asset_file) {
            return "http://hatch.app.codecoaching.org:3456/sprite-asset/" + asset_file;
        }
    }
    */
    </script>
  </head>
  <body>
  </body>
</html>
