@import "../../css/units.css";
@import "../../css/colors.css";

.sprite-info {
    height: $sprite-info-height;
    padding: 0.75rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
    color: $text-primary;
    border-top-left-radius: $space;
    border-top-right-radius: $space;
    border-bottom: 1px solid $ui-black-transparent;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row-primary {
    margin-bottom: 0.5rem;
}

.label { opacity: 0.8; }

.group {
    display: inline-flex;
    flex-direction: row; /* makes columns, for each label/form group */
    align-items: center;
}

.icon-wrapper {
    display: inline-block;
    width: calc(2rem + 2px);
    height: calc(2rem + 2px);
    padding: 0.5rem;
    outline: none;
    user-select: none;
}

.icon {
    width: 100%;
    height: 100%;
    vertical-align: baseline !important;
}

/* @todo: refactor radio divs to input */
.radio {
    filter: saturate(0);
    cursor: pointer;
}
.radio.is-active {
    filter: none;
}
.radio.is-disabled {
    cursor: default;
}

.radio-left {
    border: 1px solid $ui-black-transparent;
    border-top-left-radius: $form-radius;
    border-bottom-left-radius: $form-radius;
}

.radio-left:focus {
    border-color: $motion-primary;
    box-shadow: inset 0 0 0 -2px $ui-black-transparent;
}

.radio-right {
    border-bottom: 1px solid $ui-black-transparent;
    border-top: 1px solid $ui-black-transparent;
    border-right: 1px solid $ui-black-transparent;
    border-left: 1px solid $ui-black-transparent;
    border-top-right-radius: $form-radius;
    border-bottom-right-radius: $form-radius;
}

.radio-right:focus {
    border-color: $motion-primary;
    box-shadow: inset 0 0 0 -2px $ui-black-transparent;
}

.icon {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.rotation-select {
    width: 100%;
    height: 1.85rem;
    border: 1px solid $ui-black-transparent;
    user-select: none;
    outline: none;
}

.rotation-select:focus {
    border-color: $motion-primary;
    box-shadow: inset 0 0 0 1px $ui-black-transparent);
}

.larger-input input {
    width: 4rem;
}

.sprite-input {
    width: 8rem;
}
